Repository Fraunhofer-AISEC/cpg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala, @peckto

Overlay graph
  docs/docs/CPG/specs/overlays.md
Owners: @konradweiss, @oxisto, @KuechA

Inference docs
  docs/docs/CPG/specs/inference.md
Owners: @konradweiss, @oxisto, @KuechA

Parse new memory addresses in DFG summaries
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/DFGFunctionSummaries.kt
Owners: @konradweiss, @oxisto, @KuechA

Generate more invoke edges if nothing matches an existing function summary
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

EdgeList to EdgeSet for Invokes edges
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/flows/Invoke.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/ConstructExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/OperatorCallExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/DynamicInvokeResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
Owners: @konradweiss, @oxisto, @KuechA

introduced FSEntry type
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/FunctionDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/DFGFunctionSummaries.kt
Owners: @konradweiss, @oxisto, @KuechA

use 'deref' in hardcoded function summary
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/DFGFunctionSummaries.kt
  cpg-language-cxx/src/test/resources/hardcodedDFGedges.yml
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Fix small errors for rendering
  docs/docs/GettingStarted/neo4j.md
  docs/docs/index.md
Owners: @konradweiss, @oxisto, @KuechA

better handling of parameters
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

Properly adding declaration of initializer to the for stmt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/builder/Fluent.kt
Owners: @konradweiss, @oxisto, @KuechA

Change code to trigger build
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
Owners: @konradweiss, @oxisto, @KuechA

Update graph schema
  docs/docs/CPG/specs/graph.md
Owners: @konradweiss, @oxisto, @KuechA

Revert "EdgeList to EdgeSet for Invokes edges"
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/flows/Invoke.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/ConstructExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/OperatorCallExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/DynamicInvokeResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
Owners: @konradweiss, @oxisto, @KuechA

Filter existing functions
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

Fix small errors for rendering docs (#1930)
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
  docs/docs/CPG/specs/graph.md
  docs/docs/GettingStarted/neo4j.md
  docs/docs/index.md
Owners: @konradweiss, @oxisto, @KuechA

Fix/test eog for loop (#1921)
  cpg-analysis/src/test/kotlin/de/fraunhofer/aisec/cpg/testcases/Query.kt
  cpg-analysis/src/test/kotlin/de/fraunhofer/aisec/cpg/testcases/ValueEvaluationTests.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/builder/Fluent.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/ForStatement.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/GraphExamples.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/EvaluationOrderGraphPassTest.kt
Owners: @KuechA, @konradweiss, @oxisto

Deploying to gh-pages from @ Fraunhofer-AISEC/cpg@013f5e56d0a43a65419e9f290c631fe1658b5e45 🚀
  dokka/main/cpg-analysis/navigation.html
  dokka/main/cpg-console/navigation.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.frontends/-language-frontend/index.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.graph.builder/for-condition.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.graph.builder/for-initializer.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.graph.builder/for-iteration.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.graph.builder/index.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.graph.statements/-for-statement/index.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.graph.statements/-for-statement/statement-edges.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.graph.statements/-for-statement/statements.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.graph.statements/index.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.graph/-statement-holder/index.html
  dokka/main/cpg-core/navigation.html
  dokka/main/cpg-language-cxx/navigation.html
  dokka/main/cpg-language-go/navigation.html
  dokka/main/cpg-language-ini/navigation.html
  dokka/main/cpg-language-java/navigation.html
  dokka/main/cpg-language-jvm/navigation.html
  dokka/main/cpg-language-llvm/navigation.html
  dokka/main/cpg-language-python/navigation.html
  dokka/main/cpg-language-ruby/navigation.html
  dokka/main/cpg-language-typescript/navigation.html
  dokka/main/cpg-neo4j/navigation.html
  dokka/main/navigation.html
  dokka/main/scripts/pages.json
Owners: @KuechA, @konradweiss, @oxisto, @peckto, @maximiliankaul, @lshala

Make test compile again
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
Owners: @peckto

adapted PointsToPassTest to new function summary structure
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

moved fieldAddresses into DeclarationState
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/MemoryAddress.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

cleaned up initializeParameters
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/ParameterDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

fix merge problems
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extension.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileAppendNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileBuilder.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileChangePermissionsNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileOperationNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileReadNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileWriteNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LogOperationNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LoggingBuilder.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LoggingNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/FileConceptEOGPass.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/FileConceptPass.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/LoggingConceptPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Operation.kt
Owners: @konradweiss, @oxisto, @KuechA

make variables open
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Operation.kt
Owners: @konradweiss, @oxisto, @KuechA

move concept and operation node to (unpublished) cpg-concepts module
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Concept.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Operation.kt
Owners: @konradweiss, @oxisto, @KuechA

.github/CODEOWNERS:

*                       @konradweiss @oxisto @KuechA

*.go                    @oxisto
cpg-language-go         @oxisto

*.ts                    @oxisto
cpg-language-typescript @oxisto

*.py                    @maximiliankaul @lshala
cpg-language-python     @maximiliankaul @lshala

*.c                     @peckto
*.cpp                   @peckto
cpg-language-cxx        @peckto

*.ll                    @KuechA
cpg-language-llvm       @KuechA
cpg-analysis            @KuechA

*.java                  @konradweiss
cpg-language-java       @konradweiss

cpg-language-jvm        @oxisto

cpg-language-ruby       @oxisto

cpg-neo4j               @peckto

build.gradle.kts        @oxisto
.github                 @oxisto

cpg-language-ini        @maximiliankaul
cpg-language-concepts   @maximiliankaul
