Repository Fraunhofer-AISEC/cpg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala, @peckto

.github/CODEOWNERS:

*                       @konradweiss @oxisto @KuechA

*.go                    @oxisto
cpg-language-go         @oxisto

*.ts                    @oxisto
cpg-language-typescript @oxisto

*.py                    @maximiliankaul @lshala
cpg-language-python     @maximiliankaul @lshala

*.c                     @peckto
*.cpp                   @peckto
cpg-language-cxx        @peckto

*.ll                    @KuechA
cpg-language-llvm       @KuechA
cpg-analysis            @KuechA

*.java                  @konradweiss
cpg-language-java       @konradweiss

cpg-language-jvm        @oxisto

cpg-language-ruby       @oxisto

cpg-neo4j               @peckto

build.gradle.kts        @oxisto
.github                 @oxisto

cpg-language-ini        @maximiliankaul
cpg-language-concepts   @maximiliankaul

added extra failing test
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
  cpg-language-python/src/test/resources/python/import_no_src.py
Owners: @maximiliankaul, @lshala

rename cpgNode and move to OverlayingNode
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Concept.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Operation.kt
Owners: @konradweiss, @oxisto, @KuechA

merge: rename
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileAppendNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileBuilder.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileChangePermissionsNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileReadNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileWriteNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LogOperationNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LoggingBuilder.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LoggingNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/FileConceptEOGPass.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/FileConceptPass.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/LoggingConceptPass.kt
Owners: @konradweiss, @oxisto, @KuechA

Fixed test
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extensions.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala

importFrom now returns a list
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extensions.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala

Moving python import decision to pass (#1889)
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TranslationConfiguration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/LanguageTraits.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extensions.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/SubgraphWalker.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ResolveMemberExpressionAmbiguityPass.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/ExpressionHandler.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonLanguage.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PythonAddDeclarationsPass.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
  cpg-language-python/src/test/resources/python/import_no_src.py
  cpg-language-python/src/test/resources/python/import_test.py
  cpg-language-python/src/test/resources/python/import_vs_member.py
  cpg-language-python/src/test/resources/python/modules/a.py
  cpg-language-python/src/test/resources/python/modules/main.py
Owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala

Add sanity check
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/UnreachableEOGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @KuechA, @konradweiss, @oxisto

Implemented overlay edge
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Concept.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Operation.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/collections/EdgeSingletonList.kt
  cpg-neo4j/src/main/kotlin/de/fraunhofer/aisec/cpg/persistence/Neo4J.kt
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/Neo4JTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Neo4J stuff
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/Neo4JTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Add assert to tests and change fluent example graph
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/GraphExamples.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/EvaluationOrderGraphPassTest.kt
Owners: @konradweiss, @oxisto, @KuechA

Reorganisation
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Concept.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/overlay/Overlay.kt
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/Neo4JTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Cleanup
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Concept.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/overlay/Overlay.kt
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/Neo4JTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Cleanup
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Concept.kt
  cpg-neo4j/src/main/kotlin/de/fraunhofer/aisec/cpg/persistence/Neo4J.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Added OVERLAY to schema
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/persistence/TestCommon.kt
Owners: @konradweiss, @oxisto, @KuechA

Added OVERLAY to schema
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/persistence/TestCommon.kt
Owners: @konradweiss, @oxisto, @KuechA

Some fixes
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/Declaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
Owners: @konradweiss, @oxisto, @KuechA

Nodes can have multiple overlay nodes now
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/overlay/Overlay.kt
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/Neo4JTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

More documentation
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/overlay/Overlay.kt
Owners: @konradweiss, @oxisto, @KuechA

Adding new Overlay and Concept nodes to the graph. (#1897)
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Concept.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Operation.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/collections/EdgeSingletonList.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/overlay/Overlay.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/persistence/TestCommon.kt
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/Neo4JTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Persisting literal values more conservativly
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/Literal.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/persistence/Common.kt
Owners: @konradweiss, @oxisto, @KuechA

Avoid toString() call for strings
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/Literal.kt
Owners: @konradweiss, @oxisto, @KuechA

Persisting literal values more conservativly (#1907)
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/Literal.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/persistence/Common.kt
Owners: @konradweiss, @oxisto, @KuechA

Fixing Java field access
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ImportResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/TypeResolver.kt
  cpg-core/src/testFixtures/kotlin/de/fraunhofer/aisec/cpg/test/TestUtils.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/ExpressionHandler.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguageFrontend.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/JavaExtraPass.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/calls/SuperCallTest.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/java/StaticImportsTest.kt
Owners: @konradweiss, @oxisto, @KuechA

Providing an API to update the imported symbols for an `ImportDeclaration`
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ImportResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/TypeResolver.kt
Owners: @konradweiss, @oxisto, @KuechA

draw dfg edges via call expressions
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/ParameterDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/MemoryAddress.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
  cpg-language-cxx/src/test/resources/pointsto.cpp
Owners: @konradweiss, @oxisto, @KuechA, @peckto

bugfix
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

More size checks
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

Fix missing edges to parameter values
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

add check
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

better function summaries processing
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Remove duplicated code
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

initial version using a set
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

working ghidra test
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Provide a function for languages to influence reference resolution out of candidates
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
Owners: @konradweiss, @oxisto, @KuechA

Providing an API to update the imported symbols for an `ImportDeclaration`
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ImportResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/TypeResolver.kt
Owners: @konradweiss, @oxisto, @KuechA

Fixing Java field access
  cpg-core/src/testFixtures/kotlin/de/fraunhofer/aisec/cpg/test/TestUtils.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/ExpressionHandler.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguageFrontend.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/JavaExtraPass.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/calls/SuperCallTest.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/java/StaticImportsTest.kt
Owners: @konradweiss, @oxisto, @KuechA

Better solution for reference candidate
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguage.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/JavaExtraPass.kt
Owners: @konradweiss

more logical updateValues
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/ParameterDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/MemoryAddress.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
  cpg-language-cxx/src/test/resources/pointsto.cpp
Owners: @konradweiss, @oxisto, @KuechA, @peckto

include pointer-to-pointer in functionSummary
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

finished ghidraTest
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto
