Repository Fraunhofer-AISEC/cpg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @peckto, @lshala, @fwendland

.github/CODEOWNERS:

##### Here start the pass specific ownerships, new passes should be added here #####

# Core Semantic Passes

*/EvaluationOrderGraphPass*.kt @konradweiss
*/SymbolResolver*.kt @oxisto @konradweiss
*/DFGPass*.kt @KuechA @konradweiss @oxisto
*/ControlFlowSensitiveDFGPass*.kt @KuechA @konradweiss @oxisto
*/ControlDependenceGraphPass*.kt @KuechA @konradweiss @oxisto
*/ProgramDependenceGraphPass*.kt @KuechA @konradweiss @oxisto

# Resolvers

*/ImportResolver*.kt @oxisto @konradweiss @maximiliankaul
*/TypeResolver*.kt @oxisto @konradweiss
*/TypeHierarchyResolver*.kt @oxisto @konradweiss
*/DynamicInvokeResolver*.kt @oxisto @peckto
*/ResolveCallExpressionAmbiguityPass*.kt @oxisto @peckto
*/ResolveMemberExpressionAmbiguityPass*.kt @oxisto @peckto

# Extra Passes

*/UnreachableEOGPass*.kt @KuechA @konradweiss
*/PrepareSerialization*.kt @peckto @konradweiss

# Concepts Passes

*/PythonTempFilePass*.kt @maximiliankaul @lshala
*/PythonFileJoinPass*.kt @maximiliankaul @lshala
*/PythonFileConceptPass*.kt @maximiliankaul @lshala
*/PythonLoggingConceptPass*.kt @maximiliankaul @lshala
*/PythonStdLibConfigurationPass*.kt @oxisto @KuechA
*/TagOverlaysPass*.kt @KuechA @lshala @oxisto
*/LoadPersistedConcepts*.kt @maximiliankaul @lshala
*/ProvideConfigPass*.kt @lshala @oxisto
*/IniFileConfigurationSourcePass*.kt @lshala @oxisto
*/CXXEntryPointsPass*.kt @maximiliankaul @oxisto @KuechA
*/CXXDynamicLoadingPass*.kt @oxisto @KuechA


##### Here start the language and module based ownership definitions #####

*                       @konradweiss @oxisto @KuechA

*.go                    @oxisto @fwendland
cpg-language-go         @oxisto @fwendland

*.ts                    @oxisto @konradweiss
cpg-language-typescript @oxisto @konradweiss

*.py                    @maximiliankaul @lshala
cpg-language-python     @maximiliankaul @lshala

*.c                     @peckto @fwendland
*.cpp                   @peckto @fwendland
cpg-language-cxx        @peckto @fwendland

*.ll                    @KuechA @oxisto
cpg-language-llvm       @KuechA @oxisto
cpg-analysis            @KuechA @oxisto

*.java                  @konradweiss @oxisto
cpg-language-java       @konradweiss @oxisto

cpg-language-jvm        @oxisto @konradweiss

cpg-language-ruby       @oxisto @konradweiss

cpg-neo4j               @peckto @konradweiss

build.gradle.kts        @oxisto
.github                 @oxisto

cpg-language-ini        @maximiliankaul @konradweiss

cpg-concepts            @maximiliankaul

codyze                  @fwendland
codyze-compliance       @fwendland @oxisto

made transfer suspending
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/analysis/abstracteval/AbstractIntervalEvaluator.kt
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/UnreachableEOGPass.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/EOGConceptPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ControlDependenceGraphPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolverEOGIteration.kt
Owners: @KuechA, @oxisto, @maximiliankaul, @konradweiss

made lub suspending
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/analysis/abstracteval/AbstractIntervalEvaluator.kt
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/UnreachableEOGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @KuechA, @oxisto, @konradweiss

removed a runBlocking
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

nits
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

a working version of totally parallelized lub
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

a cleaner version of totally parallelized lub
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

lub in chunks
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

fixed a concurrentAccessModificationException
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

added MAX_CHUNK_SIZE constant
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

try to be more efficient with locking
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

Revert "try to be more efficient with locking"
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

more chunks
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

Implement alwaysComesFrom
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/query/FlowQueries.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extensions.kt
Owners: @KuechA, @oxisto, @konradweiss

avoid synchronized in MapLattice.Element.lub
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

removed some syncs
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

removed some asyncs
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

remove another async
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

optimized launches in handleCallExpression
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

finetuning
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

finetuning II
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

finetuning III
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

finetuning IV
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extensions.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

better default values
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

dynamically determine number of cores
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
Owners: @konradweiss, @oxisto, @KuechA

introduced parallelEquals
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/functional/BasicLatticesRedesign.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA
