Repository Fraunhofer-AISEC/cpg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala, @peckto

Removing legacy `resolveReference` function
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/PassHelper.kt
Owners: @konradweiss, @oxisto, @KuechA

Removing old 'resolve' function
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/CPPLanguage.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/DeclarationHandler.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Removed resolveReference
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
Owners: @konradweiss, @oxisto, @KuechA

Fixed Go, Java still broken
  cpg-language-go/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/GoExtraPass.kt
Owners: @oxisto

Trying to use faster arm64 runner again
  cpg-language-go/build.gradle.kts
  gradle/libs.versions.toml
Owners: @oxisto, @konradweiss, @KuechA

Explicit dependency
  cpg-language-go/build.gradle.kts
Owners: @oxisto

Run on self-hosted
  .github/workflows/build.yml
Owners: @oxisto

Using Python 3.12
  .github/workflows/build.yml
Owners: @oxisto

Remove unncessary Go install
  .github/workflows/build.yml
Owners: @oxisto

Re-enable go for Go integration test
  .github/workflows/build.yml
  cpg-language-go/src/test/resources/golang/buildtags/go.mod
  cpg-language-go/src/test/resources/golang/integration/cmd/buildtags/main.go
  cpg-language-go/src/test/resources/golang/integration/func_darwin.go
  cpg-language-go/src/test/resources/golang/integration/func_darwin_arm64.go
  cpg-language-go/src/test/resources/golang/integration/func_ios.go
  cpg-language-go/src/test/resources/golang/integration/func_linux_arm64.go
  cpg-language-go/src/test/resources/golang/integration/go.mod
Owners: @oxisto

++
  cpg-language-go/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/golang/GoLanguageFrontendTest.kt
Owners: @oxisto

Finally fixed
  .github/workflows/build.yml
  cpg-language-go/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/golang/IntegrationTest.kt
  cpg-language-go/src/test/resources/golang/integration/cmd/buildtags/main.go
  cpg-language-go/src/test/resources/golang/integration/func_darwin.go
  cpg-language-go/src/test/resources/golang/integration/func_darwin_arm64.go
  cpg-language-go/src/test/resources/golang/integration/func_ios.go
  cpg-language-go/src/test/resources/golang/integration/func_linux_arm64.go
Owners: @oxisto

Promote Neo4J driver to API dependency for cpg-neo4j
  cpg-neo4j/build.gradle.kts
Owners: @oxisto

Spotless fix
  cpg-analysis/src/test/kotlin/de/fraunhofer/aisec/cpg/testcases/Query.kt
  cpg-analysis/src/test/kotlin/de/fraunhofer/aisec/cpg/testcases/ValueEvaluationTests.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/GraphExamples.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/EvaluationOrderGraphPassTest.kt
Owners: @KuechA, @konradweiss, @oxisto

New, faster runner (#1922)
  .github/workflows/build.yml
  cpg-language-go/build.gradle.kts
  cpg-language-go/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/golang/GoLanguageFrontendTest.kt
  cpg-language-go/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/golang/IntegrationTest.kt
  cpg-language-go/src/test/resources/golang/buildtags/go.mod
  cpg-language-go/src/test/resources/golang/integration/cmd/buildtags/main.go
  cpg-language-go/src/test/resources/golang/integration/func_darwin.go
  cpg-language-go/src/test/resources/golang/integration/func_darwin_arm64.go
  cpg-language-go/src/test/resources/golang/integration/func_ios.go
  cpg-language-go/src/test/resources/golang/integration/func_linux_arm64.go
  cpg-language-go/src/test/resources/golang/integration/go.mod
  gradle/libs.versions.toml
Owners: @oxisto, @konradweiss, @KuechA

Remove print
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/EvaluationOrderGraphPass.kt
Owners: @konradweiss, @oxisto, @KuechA

Fixing Java field access (#1862)
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
  cpg-core/src/testFixtures/kotlin/de/fraunhofer/aisec/cpg/test/TestUtils.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/ExpressionHandler.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaCallResolverHelper.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguage.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguageFrontend.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/JavaExtraPass.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/calls/SuperCallTest.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/java/StaticImportsTest.kt
Owners: @konradweiss, @oxisto, @KuechA

Fixed codecov kover XML path
  .github/workflows/build.yml
Owners: @oxisto

++
  .github/workflows/build.yml
Owners: @oxisto

Fixed build badge
  README.md
Owners: @konradweiss, @oxisto, @KuechA

Fixed compile error
  cpg-language-go/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/GoExtraPass.kt
Owners: @oxisto

Excluding performance and integration tests from `build` task
  .github/workflows/build.yml
  .gitignore
  buildSrc/src/main/kotlin/cpg.common-conventions.gradle.kts
  buildSrc/src/main/kotlin/cpg.frontend-dependency-conventions.gradle.kts
  cpg-all/build.gradle.kts
  cpg-core/src/performanceTest/kotlin/de/fraunhofer/aisec/cpg/graph/WalkerTest.kt
  cpg-language-cxx/src/performanceTest/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/PerformanceRegressionTest.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/PerformanceRegressionTest.kt
  cpg-neo4j/build.gradle.kts
  cpg-neo4j/src/integrationTest/kotlin/de/fraunhofer/aisec/neo4j/IntegrationTest.kt
  cpg-neo4j/src/integrationTest/kotlin/de/fraunhofer/aisec/neo4j/Neo4JTest.kt
  cpg-neo4j/src/integrationTest/resources/Implementor1.java
  cpg-neo4j/src/integrationTest/resources/client.cpp
  cpg-neo4j/src/integrationTest/resources/test.py
  cpg-neo4j/src/integrationTest/resources/very_long.cpp
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/ApplicationTest.kt
  cpg-neo4j/src/test/resources/log4j2.xml
  settings.gradle.kts
Owners: @oxisto, @konradweiss, @KuechA, @peckto

Excluding performance and integration tests from `build` task (#1925)
  .github/workflows/build.yml
  .gitignore
  buildSrc/src/main/kotlin/cpg.common-conventions.gradle.kts
  buildSrc/src/main/kotlin/cpg.frontend-dependency-conventions.gradle.kts
  cpg-all/build.gradle.kts
  cpg-core/src/performanceTest/kotlin/de/fraunhofer/aisec/cpg/graph/WalkerTest.kt
  cpg-language-cxx/src/performanceTest/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/PerformanceRegressionTest.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/PerformanceRegressionTest.kt
  cpg-neo4j/build.gradle.kts
  cpg-neo4j/src/integrationTest/kotlin/de/fraunhofer/aisec/neo4j/IntegrationTest.kt
  cpg-neo4j/src/integrationTest/kotlin/de/fraunhofer/aisec/neo4j/Neo4JTest.kt
  cpg-neo4j/src/integrationTest/resources/Implementor1.java
  cpg-neo4j/src/integrationTest/resources/client.cpp
  cpg-neo4j/src/integrationTest/resources/test.py
  cpg-neo4j/src/integrationTest/resources/very_long.cpp
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/ApplicationTest.kt
  cpg-neo4j/src/test/resources/log4j2.xml
  settings.gradle.kts
Owners: @oxisto, @konradweiss, @KuechA, @peckto

Demote frontend dependencies to `implementation`
  buildSrc/src/main/kotlin/cpg.frontend-dependency-conventions.gradle.kts
Owners: @konradweiss, @oxisto, @KuechA

Demote frontend dependencies to `implementation` (#1926)
  buildSrc/src/main/kotlin/cpg.frontend-dependency-conventions.gradle.kts
Owners: @konradweiss, @oxisto, @KuechA

Update description to version 9.0.0
  docs/docs/GettingStarted/library.md
Owners: @konradweiss, @oxisto, @KuechA

Remove link to installing the CPG in Getting Started page
  docs/docs/GettingStarted/index.md
Owners: @konradweiss, @oxisto, @KuechA

Delete docs/docs/GettingStarted/installation.md
  docs/docs/GettingStarted/installation.md
Owners: @konradweiss, @oxisto, @KuechA

Remove installing page from navigation
  docs/mkdocs.yaml
Owners: @konradweiss, @oxisto, @KuechA

Start summarizing inference rules and assumptions
  docs/docs/CPG/specs/inference.md
Owners: @konradweiss, @oxisto, @KuechA

List inference in spec landing page
  docs/docs/CPG/specs/index.md
Owners: @konradweiss, @oxisto, @KuechA

List inference md in the navigation
  docs/mkdocs.yaml
Owners: @konradweiss, @oxisto, @KuechA

9.0.1
  docs/docs/GettingStarted/library.md
Owners: @konradweiss, @oxisto, @KuechA

Patching dynamic dependency to frontends out of `cpg-neo4j` POM
  cpg-neo4j/build.gradle.kts
Owners: @oxisto

Patching dynamic dependency to frontends out of `cpg-neo4j` POM (#1927)
  cpg-neo4j/build.gradle.kts
Owners: @oxisto

Update numbers and date
  docs/docs/GettingStarted/library.md
  docs/docs/GettingStarted/neo4j.md
Owners: @konradweiss, @oxisto, @KuechA

Create overlays.md
  docs/docs/CPG/specs/overlays.md
Owners: @konradweiss, @oxisto, @KuechA

List overlays in the specs index
  docs/docs/CPG/specs/index.md
Owners: @konradweiss, @oxisto, @KuechA

Update mkdocs.yaml
  docs/mkdocs.yaml
Owners: @konradweiss, @oxisto, @KuechA

Added inference docs
  docs/docs/CPG/specs/inference.md
  docs/mkdocs.yaml
Owners: @konradweiss, @oxisto, @KuechA

.github/CODEOWNERS:

*                       @konradweiss @oxisto @KuechA

*.go                    @oxisto
cpg-language-go         @oxisto

*.ts                    @oxisto
cpg-language-typescript @oxisto

*.py                    @maximiliankaul @lshala
cpg-language-python     @maximiliankaul @lshala

*.c                     @peckto
*.cpp                   @peckto
cpg-language-cxx        @peckto

*.ll                    @KuechA
cpg-language-llvm       @KuechA
cpg-analysis            @KuechA

*.java                  @konradweiss
cpg-language-java       @konradweiss

cpg-language-jvm        @oxisto

cpg-language-ruby       @oxisto

cpg-neo4j               @peckto

build.gradle.kts        @oxisto
.github                 @oxisto

cpg-language-ini        @maximiliankaul
cpg-language-concepts   @maximiliankaul
