Repository Fraunhofer-AISEC/cpg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala, @peckto

bump
  cpg-concepts/TODOs.txt
  cpg-concepts/build.gradle.kts
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extension.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileAppendNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileBuilder.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileChangePermissionsNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileConcept.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileOperationNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileReadNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileWriteNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/IsLogging.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LogOperationNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LoggingBuilder.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LoggingNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/FileConceptEOGPass.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/FileConceptPass.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/IsOperation.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/LoggingConceptPass.kt
  cpg-concepts/src/test/kotlin/de/fraunhofer/aisec/cpg/concepts/file/FileConceptTest.kt
  cpg-concepts/src/test/kotlin/de/fraunhofer/aisec/cpg/concepts/logging/LoggingConceptTest.kt
  cpg-concepts/src/test/resources/concepts/file/python/file_read.py
  cpg-concepts/src/test/resources/concepts/file/python/file_write.py
  cpg-concepts/src/test/resources/concepts/file/python/testEOG.py
  cpg-concepts/src/test/resources/concepts/logging/python/simple_log.py
  cpg-concepts/src/test/resources/concepts/logging/python/simple_log2.py
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/ConceptNode.kt
Owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala

bump
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/IsOperation.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/LoggingConceptPass.kt
  cpg-concepts/src/test/kotlin/de/fraunhofer/aisec/cpg/concepts/logging/LoggingConceptTest.kt
Owners: @konradweiss, @oxisto, @KuechA

enable default passes
  cpg-concepts/src/test/kotlin/de/fraunhofer/aisec/cpg/concepts/file/FileConceptTest.kt
  cpg-concepts/src/test/kotlin/de/fraunhofer/aisec/cpg/concepts/logging/LoggingConceptTest.kt
Owners: @konradweiss, @oxisto, @KuechA

Added log4j xml
  cpg-concepts/src/test/resources/log4j2.xml
Owners: @konradweiss, @oxisto, @KuechA

Better detection of typedefs in C++
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/DeclarationHandler.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/types/TypedefTest.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/CXXLanguageFrontendTest.kt
  cpg-language-cxx/src/test/resources/c/typedef_struct.c
  cpg-language-cxx/src/test/resources/cxx/typedef_struct.cpp
  cpg-language-cxx/src/test/resources/typedefs/weird_typedefs.cpp
Owners: @peckto

Comment why it is stupid
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/DeclarationHandler.kt
Owners: @peckto

attached function Summaries to functionDeclaration
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TranslationConfiguration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/FunctionDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/DFGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/DFGFunctionSummaries.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
  cpg-language-cxx/src/test/resources/pointsto.cpp
Owners: @konradweiss, @oxisto, @KuechA, @peckto

getting ready for cpg-core push
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileAppendNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileBuilder.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileChangePermissionsNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileOperationNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileReadNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileWriteNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/IsFile.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LogOperationNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LoggingBuilder.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LoggingNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Concept.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/ConceptNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/OperationNode.kt
Owners: @konradweiss, @oxisto, @KuechA

move back to component pass
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/FileConceptEOGPass.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/FileConceptPass.kt
Owners: @konradweiss, @oxisto, @KuechA

bump
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LoggingBuilder.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/FileConceptPass.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/LoggingConceptPass.kt
  cpg-concepts/src/test/kotlin/de/fraunhofer/aisec/cpg/concepts/logging/LoggingConceptTest.kt
Owners: @konradweiss, @oxisto, @KuechA

Adding new Overlay and Concept nodes to the graph.
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Concept.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/ConceptNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/OperationNode.kt
Owners: @konradweiss, @oxisto, @KuechA

bump
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/FileConceptPass.kt
  gradle.properties.example
Owners: @konradweiss, @oxisto, @KuechA

Fixed additional issue where type was inferred even though it was a typedef
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/types/TypedefTest.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/CXXLanguageFrontendTest.kt
  cpg-language-cxx/src/test/resources/typedefs/weird_typedefs.cpp
Owners: @konradweiss, @oxisto, @KuechA, @peckto

typo
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/DeclarationHandler.kt
Owners: @peckto

Better detection of typedefs in C++ (#1896)
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/DeclarationHandler.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/types/TypedefTest.kt
  cpg-language-cxx/src/test/resources/c/typedef_struct.c
  cpg-language-cxx/src/test/resources/cxx/typedef_struct.cpp
  cpg-language-cxx/src/test/resources/typedefs/weird_typedefs.cpp
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Distinguish between scope does not exist and name not found in scope
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/PassHelper.kt
Owners: @konradweiss, @oxisto, @KuechA

Handle some explicit null cases
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/PassHelper.kt
Owners: @konradweiss, @oxisto, @KuechA

Add test case for inference test of parent class
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/CXXInferenceTest.kt
  cpg-language-cxx/src/test/resources/cxx/inference/parent_inference.cpp
Owners: @peckto

code review
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Concept.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/ConceptNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Operation.kt
Owners: @konradweiss, @oxisto, @KuechA

fix merge
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extension.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/file/FileOperationNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LogOperationNode.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/logging/LoggingNode.kt
Owners: @konradweiss, @oxisto, @KuechA

Distinguish between scope does not exist and name not found as scope (#1895)
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/PassHelper.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/CXXInferenceTest.kt
  cpg-language-cxx/src/test/resources/cxx/inference/parent_inference.cpp
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Deploying to gh-pages from @ Fraunhofer-AISEC/cpg@01f58737457033e37b54c295158e5669501386f3 🚀
  dokka/main/cpg-analysis/navigation.html
  dokka/main/cpg-console/navigation.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg/-scope-manager/-scope-extraction/-scope-extraction.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg/-scope-manager/-scope-extraction/adjusted-name.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg/-scope-manager/-scope-extraction/index.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg/-scope-manager/-scope-extraction/scope.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg/-scope-manager/extract-scope.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg/-scope-manager/index.html
  dokka/main/cpg-core/navigation.html
  dokka/main/cpg-language-cxx/navigation.html
  dokka/main/cpg-language-go/navigation.html
  dokka/main/cpg-language-ini/navigation.html
  dokka/main/cpg-language-java/navigation.html
  dokka/main/cpg-language-jvm/navigation.html
  dokka/main/cpg-language-llvm/navigation.html
  dokka/main/cpg-language-python/navigation.html
  dokka/main/cpg-language-ruby/navigation.html
  dokka/main/cpg-language-typescript/navigation.html
  dokka/main/cpg-neo4j/navigation.html
  dokka/main/navigation.html
  dokka/main/scripts/pages.json
Owners: @KuechA, @konradweiss, @oxisto, @peckto, @maximiliankaul, @lshala

FunctionSummaries now also include partial writes
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/FunctionDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/DFGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Trying to persist all extra relationships
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/Declaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/FunctionDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/NamespaceDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/RecordDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/TemplateDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/TranslationUnitDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/CatchClause.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/persistence/Common.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/persistence/DoNotPersist.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/persistence/TestCommon.kt
  cpg-neo4j/src/main/kotlin/de/fraunhofer/aisec/cpg/persistence/Neo4J.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Using Neo4J converter annotation for now
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TranslationConfiguration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TranslationContext.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TranslationResult.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/MeasurementHolder.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/persistence/Common.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/persistence/TestCommon.kt
Owners: @konradweiss, @oxisto, @KuechA

Remaining code review issues
  README.md
  cpg-neo4j/src/main/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/Application.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Added test case for BigInteger
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/ApplicationTest.kt
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/Neo4JTest.kt
  cpg-neo4j/src/test/resources/very_long.cpp
Owners: @peckto

Adjusted README
  cpg-neo4j/README.md
Owners: @peckto

Cleanup
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/MermaidPrinter.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/ast/AstEdge.kt
Owners: @konradweiss, @oxisto, @KuechA

Fixed compile error
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/CallExpression.kt
Owners: @konradweiss, @oxisto, @KuechA

Hotfix for python imports
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/ExpressionHandler.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
  cpg-language-python/src/test/resources/python/import_test.py
Owners: @maximiliankaul, @lshala

Moving python import decision to pass
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/ImportDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/SubgraphWalker.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/ExpressionHandler.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PythonAddDeclarationsPass.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
  cpg-language-python/src/test/resources/python/import_vs_member.py
Owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala

Moved to extra language-neutral pass
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TranslationConfiguration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/LanguageTraits.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ResolveMemberExpressionAmbiguityPass.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/ExpressionHandler.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonLanguage.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PythonAddDeclarationsPass.kt
Owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala

Moved everything to PythonAddDeclarationsPass
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/ImportDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/SubgraphWalker.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PythonAddDeclarationsPass.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala

Added documentation
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/ImportDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ResolveMemberExpressionAmbiguityPass.kt
Owners: @konradweiss, @oxisto, @KuechA

++
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/SubgraphWalker.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ResolveMemberExpressionAmbiguityPass.kt
Owners: @konradweiss, @oxisto, @KuechA

Fixed test
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/SubgraphWalker.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ResolveMemberExpressionAmbiguityPass.kt
Owners: @konradweiss, @oxisto, @KuechA

Better heuristic
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/ImportDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ResolveMemberExpressionAmbiguityPass.kt
  cpg-language-python/src/test/resources/python/modules/a.py
  cpg-language-python/src/test/resources/python/modules/main.py
Owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala

Using correct trait now
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ResolveMemberExpressionAmbiguityPass.kt
Owners: @konradweiss, @oxisto, @KuechA

More cleanup
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extensions.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ResolveMemberExpressionAmbiguityPass.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala

.github/CODEOWNERS:

*                       @konradweiss @oxisto @KuechA

*.go                    @oxisto
cpg-language-go         @oxisto

*.ts                    @oxisto
cpg-language-typescript @oxisto

*.py                    @maximiliankaul @lshala
cpg-language-python     @maximiliankaul @lshala

*.c                     @peckto
*.cpp                   @peckto
cpg-language-cxx        @peckto

*.ll                    @KuechA
cpg-language-llvm       @KuechA
cpg-analysis            @KuechA

*.java                  @konradweiss
cpg-language-java       @konradweiss

cpg-language-jvm        @oxisto

cpg-language-ruby       @oxisto

cpg-neo4j               @peckto

build.gradle.kts        @oxisto
.github                 @oxisto

cpg-language-ini        @maximiliankaul
cpg-language-concepts   @maximiliankaul
