Repository Fraunhofer-AISEC/cpg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @konradweiss, @oxisto, @KuechA, @maximiliankaul, @lshala, @peckto

.github/CODEOWNERS:

*                       @konradweiss @oxisto @KuechA

*.go                    @oxisto
cpg-language-go         @oxisto

*.ts                    @oxisto
cpg-language-typescript @oxisto

*.py                    @maximiliankaul @lshala
cpg-language-python     @maximiliankaul @lshala

*.c                     @peckto
*.cpp                   @peckto
cpg-language-cxx        @peckto

*.ll                    @KuechA
cpg-language-llvm       @KuechA
cpg-analysis            @KuechA

*.java                  @konradweiss
cpg-language-java       @konradweiss

cpg-language-jvm        @oxisto

cpg-language-ruby       @oxisto

cpg-neo4j               @peckto

build.gradle.kts        @oxisto
.github                 @oxisto

cpg-language-ini        @maximiliankaul
cpg-language-concepts   @maximiliankaul

Introducing an UnknownLanguage
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TypeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/UnknownLanguage.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Component.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Interfaces.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/NodeBuilder.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/ValueDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/Expression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/AutoType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/BooleanType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/FloatingPointType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/FunctionPointerType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/IntegerType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/NumericType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/ObjectType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/ParameterizedType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/StringType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/Type.kt
Owners: @konradweiss, @oxisto, @KuechA

Calculating multi language in component and translation result
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TranslationResult.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/UnknownLanguage.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Component.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/TypeBuilder.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/FunctionType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/IncompleteType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/Inference.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/LanguageTest.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/CPPLanguage.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/CXXLanguageFrontend.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Cleanup but test fails
  cpg-console/src/main/kotlin/de/fraunhofer/aisec/cpg/console/Extensions.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TypeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/UnknownLanguage.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Name.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/AssignExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/BinaryOperator.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ControlFlowSensitiveDFGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/DFGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/EvaluationOrderGraphPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/DFGFunctionSummaries.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/Inference.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/LanguageTest.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/DeclarationHandler.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/CXXExtraPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/types/TypeTests.kt
  cpg-language-go/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/GoExtraPass.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguageFrontendTest.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PythonAddDeclarationsPass.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto, @maximiliankaul, @lshala

Fixed gradle task
  cpg-language-go/build.gradle.kts
Owners: @oxisto

functionSummaries now also include the names on partial writes
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/FunctionDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/DFGFunctionSummaries.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Providing an API to update the imported symbols for an `ImportDeclaration` (#1908)
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ImportResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/TypeResolver.kt
Owners: @konradweiss, @oxisto, @KuechA

Deploying to gh-pages from @ Fraunhofer-AISEC/cpg@a2d326e23b6df6be5c81823d371155278f5ea029 🚀
  dokka/main/cpg-analysis/navigation.html
  dokka/main/cpg-console/navigation.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.graph.declarations/-import-declaration/index.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.passes/index.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.passes/update-imported-symbols.html
  dokka/main/cpg-core/navigation.html
  dokka/main/cpg-language-cxx/navigation.html
  dokka/main/cpg-language-go/navigation.html
  dokka/main/cpg-language-ini/navigation.html
  dokka/main/cpg-language-java/navigation.html
  dokka/main/cpg-language-jvm/navigation.html
  dokka/main/cpg-language-llvm/navigation.html
  dokka/main/cpg-language-python/navigation.html
  dokka/main/cpg-language-ruby/navigation.html
  dokka/main/cpg-language-typescript/navigation.html
  dokka/main/cpg-neo4j/navigation.html
  dokka/main/navigation.html
  dokka/main/scripts/pages.json
Owners: @KuechA, @konradweiss, @oxisto, @peckto, @maximiliankaul, @lshala

Provide a function for languages to influence reference resolution out of candidates
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
Owners: @konradweiss, @oxisto, @KuechA

Added remark about setting refersTo to null
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
Owners: @konradweiss, @oxisto, @KuechA

Fixing Java field access
  cpg-core/src/testFixtures/kotlin/de/fraunhofer/aisec/cpg/test/TestUtils.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/ExpressionHandler.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguageFrontend.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/JavaExtraPass.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/calls/SuperCallTest.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/java/StaticImportsTest.kt
Owners: @konradweiss, @oxisto, @KuechA

Provide a function for languages to influence reference resolution out of candidates
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
Owners: @konradweiss, @oxisto, @KuechA

Better solution for reference candidate
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguage.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/JavaExtraPass.kt
Owners: @konradweiss

Provide a function for languages to influence reference resolution out of candidates (#1909)
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
Owners: @konradweiss, @oxisto, @KuechA

Deploying to gh-pages from @ Fraunhofer-AISEC/cpg@9f0e95720ac4bcfb4b8b058b60097d7d9da5b64a 🚀
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.frontends/-language/best-viable-reference-candidate.html
  dokka/main/cpg-core/de.fraunhofer.aisec.cpg.frontends/-language/index.html
  dokka/main/cpg-language-cxx/de.fraunhofer.aisec.cpg.frontends.cxx/-c-language/index.html
  dokka/main/cpg-language-cxx/de.fraunhofer.aisec.cpg.frontends.cxx/-c-p-p-language/index.html
  dokka/main/cpg-language-go/de.fraunhofer.aisec.cpg.frontends.golang/-go-language/index.html
  dokka/main/cpg-language-ini/de.fraunhofer.aisec.cpg.frontends.ini/-ini-file-language/index.html
  dokka/main/cpg-language-java/de.fraunhofer.aisec.cpg.frontends.java/-java-language/index.html
  dokka/main/cpg-language-jvm/de.fraunhofer.aisec.cpg.frontends.jvm/-j-v-m-language/index.html
  dokka/main/cpg-language-llvm/de.fraunhofer.aisec.cpg.frontends.llvm/-l-l-v-m-i-r-language/index.html
  dokka/main/cpg-language-python/de.fraunhofer.aisec.cpg.frontends.python/-python-language/index.html
  dokka/main/cpg-language-ruby/de.fraunhofer.aisec.cpg.frontends.ruby/-ruby-language/index.html
  dokka/main/cpg-language-typescript/de.fraunhofer.aisec.cpg.frontends.typescript/-java-script-language/index.html
  dokka/main/cpg-language-typescript/de.fraunhofer.aisec.cpg.frontends.typescript/-type-script-language/index.html
  dokka/main/scripts/pages.json
Owners: @konradweiss, @oxisto, @KuechA, @peckto, @maximiliankaul, @lshala

Calculating multi language in component and translation result
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TranslationResult.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/UnknownLanguage.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Component.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/TypeBuilder.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/FunctionType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/IncompleteType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/Inference.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/LanguageTest.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/CPPLanguage.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/CXXLanguageFrontend.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Introducing an UnknownLanguage
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TypeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/UnknownLanguage.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Component.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Interfaces.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/NodeBuilder.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/ValueDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/Expression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/AutoType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/BooleanType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/FloatingPointType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/FunctionPointerType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/IntegerType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/NumericType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/ObjectType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/ParameterizedType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/StringType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/Type.kt
Owners: @konradweiss, @oxisto, @KuechA

Cleanup but test fails
  cpg-console/src/main/kotlin/de/fraunhofer/aisec/cpg/console/Extensions.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TypeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/UnknownLanguage.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Name.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/AssignExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/BinaryOperator.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ControlFlowSensitiveDFGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/DFGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/EvaluationOrderGraphPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/DFGFunctionSummaries.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/Inference.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/LanguageTest.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/DeclarationHandler.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/CXXExtraPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/types/TypeTests.kt
  cpg-language-go/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/GoExtraPass.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguageFrontendTest.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PythonAddDeclarationsPass.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto, @maximiliankaul, @lshala

Fixed test, not sure why
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguageFrontendTest.kt
Owners: @konradweiss, @oxisto, @KuechA

Fixed
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
Owners: @konradweiss, @oxisto, @KuechA

Added NoLanguage, code cleanup
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/UnknownLanguage.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/BinaryOperator.kt
Owners: @konradweiss, @oxisto, @KuechA

Small cleanup
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/BinaryOperator.kt
Owners: @konradweiss, @oxisto, @KuechA

Skip C++ neo4j tests if C++ frontend is not enabled
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/ApplicationTest.kt
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/Neo4JTest.kt
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/SkipIfLanguageIsNotAvailable.kt
Owners: @peckto

started on substructs test
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/MemoryAddress.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
  cpg-language-cxx/src/test/resources/pointsto.cpp
Owners: @konradweiss, @oxisto, @KuechA, @peckto

dereference subscriptExpressions
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPassTest.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

Changing pattern of forStmt in fluent dsl, missing context caused issues
  cpg-analysis/src/test/kotlin/de/fraunhofer/aisec/cpg/testcases/Query.kt
  cpg-analysis/src/test/kotlin/de/fraunhofer/aisec/cpg/testcases/ValueEvaluationTests.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/builder/Fluent.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/ForStatement.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/EvaluationOrderGraphPass.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/GraphExamples.kt
Owners: @KuechA, @konradweiss, @oxisto

Less strict DFGPass and generate function declarations from function summaries
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/DFGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/DFGFunctionSummaries.kt
Owners: @konradweiss, @oxisto, @KuechA

remove code in comment
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

Need to switch back to GH runners
  .github/workflows/build.yml
Owners: @oxisto

Need to switch back to GH runners
  .github/workflows/build.yml
Owners: @oxisto

++
  cpg-language-typescript/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/typescript/DeclarationHandler.kt
  cpg-language-typescript/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/typescript/JavaScriptLanguage.kt
  cpg-language-typescript/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/typescript/TypeScriptLanguageFrontend.kt
  cpg-language-typescript/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/typescript/TypescriptLanguageFrontendTest.kt
Owners: @oxisto

More indirections for constant pointers in function summaries
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PointsToPass.kt
Owners: @konradweiss, @oxisto, @KuechA

Make method public
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/DFGFunctionSummaries.kt
Owners: @konradweiss, @oxisto, @KuechA

Spotless fix
  cpg-analysis/src/test/kotlin/de/fraunhofer/aisec/cpg/testcases/Query.kt
  cpg-analysis/src/test/kotlin/de/fraunhofer/aisec/cpg/testcases/ValueEvaluationTests.kt
Owners: @KuechA

Provide a function for languages to influence reference resolution out of candidates
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
Owners: @konradweiss, @oxisto, @KuechA

Fixing Java field access
  cpg-core/src/testFixtures/kotlin/de/fraunhofer/aisec/cpg/test/TestUtils.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/ExpressionHandler.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguageFrontend.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/JavaExtraPass.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/calls/SuperCallTest.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/java/StaticImportsTest.kt
Owners: @konradweiss, @oxisto, @KuechA

Better solution for reference candidate
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguage.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/JavaExtraPass.kt
Owners: @konradweiss

Addressed code review
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/ExpressionHandler.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaCallResolverHelper.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguage.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/JavaExtraPass.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/calls/SuperCallTest.kt
Owners: @konradweiss

Simplified
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/ExpressionHandler.kt
Owners: @konradweiss

Fix
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/TemplateCallResolverHelper.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/ExpressionHandler.kt
Owners: @konradweiss, @oxisto, @KuechA, @peckto

++
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/TemplateCallResolverHelper.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/PassHelper.kt
Owners: @konradweiss, @oxisto, @KuechA
