Repository Fraunhofer-AISEC/cpg, pull requests merged in 2021-04, with the labels that each got.

#378 Improvements in the Golang parser
  src/main/golang/expressions.go
  src/main/golang/frontend/handler.go
  src/main/golang/lib/cpg/main.go
  src/main/golang/scope.go
  src/main/golang/statements.go
  src/main/java/de/fraunhofer/aisec/cpg/passes/Pass.java
  src/main/java/de/fraunhofer/aisec/cpg/passes/scopes/ScopeManager.java
  src/test/java/de/fraunhofer/aisec/cpg/frontends/golang/GoLanguageFrontendTest.kt
  src/test/resources/golang/call.go
  src/test/resources/golang/struct.go
Labels: go

#358 Initial Python Support
  .github/workflows/build.yml
  README.md
  build.gradle.kts
  src/main/java/de/fraunhofer/aisec/cpg/ExperimentalPython.kt
  src/main/java/de/fraunhofer/aisec/cpg/frontends/LanguageFrontend.java
  src/main/java/de/fraunhofer/aisec/cpg/frontends/LanguageFrontendFactory.java
  src/main/java/de/fraunhofer/aisec/cpg/frontends/python/JepSingleton.kt
  src/main/java/de/fraunhofer/aisec/cpg/frontends/python/PythonLanguageFrontend.kt
  src/main/java/de/fraunhofer/aisec/cpg/graph/statements/expressions/KeyValueExpression.kt
  src/main/python/main.py
  src/test/java/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
  src/test/resources/python/function.py
  src/test/resources/python/if.py
  src/test/resources/python/literal.py
  src/test/resources/python/simple_class.py
Labels: experimental, python

#402 Python self and constructor support
  src/main/python/main.py
  src/test/java/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
  src/test/resources/python/class_ctor.py
  src/test/resources/python/class_self.py
  src/test/resources/python/simple_class.py
Labels: python

#357 CallResolver Refinement for CXX Call Resolution
  src/main/java/de/fraunhofer/aisec/cpg/frontends/cpp/DeclarationHandler.java
  src/main/java/de/fraunhofer/aisec/cpg/frontends/cpp/ExpressionHandler.java
  src/main/java/de/fraunhofer/aisec/cpg/frontends/cpp/ParameterDeclarationHandler.java
  src/main/java/de/fraunhofer/aisec/cpg/frontends/java/ExpressionHandler.java
  src/main/java/de/fraunhofer/aisec/cpg/graph/TypeManager.java
  src/main/java/de/fraunhofer/aisec/cpg/graph/declarations/FunctionDeclaration.java
  src/main/java/de/fraunhofer/aisec/cpg/graph/declarations/ParamVariableDeclaration.java
  src/main/java/de/fraunhofer/aisec/cpg/graph/edge/Properties.java
  src/main/java/de/fraunhofer/aisec/cpg/graph/edge/PropertyEdge.kt
  src/main/java/de/fraunhofer/aisec/cpg/graph/statements/expressions/CallExpression.kt
  src/main/java/de/fraunhofer/aisec/cpg/graph/statements/expressions/CastExpression.java
  src/main/java/de/fraunhofer/aisec/cpg/graph/statements/expressions/ConstructExpression.java
  src/main/java/de/fraunhofer/aisec/cpg/graph/statements/expressions/ConstructExpression.kt
  src/main/java/de/fraunhofer/aisec/cpg/passes/CallResolver.java
  src/main/java/de/fraunhofer/aisec/cpg/passes/EvaluationOrderGraphPass.java
  src/main/java/de/fraunhofer/aisec/cpg/passes/scopes/ScopeManager.java
  src/main/python/main.py
  src/test/java/de/fraunhofer/aisec/cpg/enhancements/calls/CallResolverTest.java
  src/test/java/de/fraunhofer/aisec/cpg/enhancements/calls/ConstructorsTest.java
  src/test/java/de/fraunhofer/aisec/cpg/enhancements/calls/FunctionPointerTest.java
  src/test/java/de/fraunhofer/aisec/cpg/frontends/cpp/CXXLanguageFrontendTest.java
  src/test/resources/calls/cxxprioresolution/defined.cpp
  src/test/resources/calls/cxxprioresolution/methodresolution/overloadedresolution.cpp
  src/test/resources/calls/cxxprioresolution/methodresolution/overloadnoresolution.cpp
  src/test/resources/calls/cxxprioresolution/scopedResolutionWithDefaults.cpp
  src/test/resources/calls/cxxprioresolution/undefined.cpp
  src/test/resources/calls/defaultargs/defaultInDeclaration.cpp
  src/test/resources/calls/defaultargs/defaultInDefinition.cpp
  src/test/resources/calls/defaultargs/defaultInMethod.cpp
  src/test/resources/calls/defaultargs/partialDefaults.cpp
  src/test/resources/calls/implicitcast/implicitCastInMethod.cpp
  src/test/resources/constructors/defaultarg/constructorDefault.cpp
  src/test/resources/constructors/implicitcastarg/constructorImplicit.cpp
Labels: cxx
