Repository Fraunhofer-AISEC/cpg, pull requests merged in 2022-08, with the labels that each got.

#873 Specify neo4j username and password as optional in console export
  cpg-console/src/main/kotlin/de/fraunhofer/aisec/cpg/console/Extensions.kt
  cpg-console/src/main/kotlin/de/fraunhofer/aisec/cpg/console/Neo4jPlugin.kt
  cpg-console/src/test/kotlin/de/fraunhofer/aisec/cpg/analysis/Neo4jPluginTest.kt
  cpg-neo4j/src/main/java/de/fraunhofer/aisec/cpg_vis_neo4j/Application.kt
Labels: console

#897 Implementing `nil` as a literal in the Go language frontend
  cpg-language-go/src/main/golang/frontend/handler.go
  cpg-language-go/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/golang/GoLanguageFrontendTest.kt
  cpg-language-go/src/test/resources/golang/literal.go
Labels: go

#869 Implement ordering for passes
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/ConfigurationException.kt
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/TranslationConfiguration.java
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/TranslationManager.kt
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/CallResolver.java
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/ControlFlowSensitiveDFGPass.java
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/DependsOn.kt
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/EvaluationOrderGraphPass.java
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/ExecuteFirst.kt
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/ExecuteLast.kt
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/FilenameMapper.java
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/ImportResolver.java
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/JavaExternalTypeHierarchyResolver.java
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/Pass.java
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/PassWithDependencies.kt
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/PassWithDepsContainer.kt
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/RegisterExtraPass.kt
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/RequiredFrontend.kt
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/TypeResolver.java
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/VariableUsageResolver.java
  cpg-language-llvm/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/llvm/LLVMIRLanguageFrontend.kt
  cpg-language-llvm/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/CompressLLVMPass.kt
Labels: enhancement, core
