Repository Fraunhofer-AISEC/cpg, pull requests merged in 2022-02, with the labels that each got.

#693 Extracting python to cpg-language-python module
  .github/workflows/build.yml
  README.md
  cpg-console/build.gradle.kts
  cpg-console/src/main/kotlin/de/fraunhofer/aisec/cpg/console/TranslatePlugin.kt
  cpg-core/build.gradle.kts
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/graph/TypeManager.java
  cpg-language-python/build.gradle.kts
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/ExperimentalPython.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/JepSingleton.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PyTempFileHolder.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonLanguageFrontend.kt
  cpg-language-python/src/main/python/CPGPython/__init__.py
  cpg-language-python/src/main/python/CPGPython/_code_extractor.py
  cpg-language-python/src/main/python/CPGPython/_expressions.py
  cpg-language-python/src/main/python/CPGPython/_misc.py
  cpg-language-python/src/main/python/CPGPython/_spotless_dummy.py
  cpg-language-python/src/main/python/CPGPython/_statements.py
  cpg-language-python/src/main/python/cpg.py
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
  cpg-language-python/src/test/resources/python/class_ctor.py
  cpg-language-python/src/test/resources/python/class_fields.py
  cpg-language-python/src/test/resources/python/class_self.py
  cpg-language-python/src/test/resources/python/function.py
  cpg-language-python/src/test/resources/python/if.py
  cpg-language-python/src/test/resources/python/ifexpr.py
  cpg-language-python/src/test/resources/python/issue432.py
  cpg-language-python/src/test/resources/python/issue598.py
  cpg-language-python/src/test/resources/python/literal.py
  cpg-language-python/src/test/resources/python/multi_level_mem_call.py
  cpg-language-python/src/test/resources/python/simple_class.py
  cpg-language-python/src/test/resources/python/vars.py
  cpg-neo4j/build.gradle.kts
  cpg-neo4j/src/main/java/de/fraunhofer/aisec/cpg_vis_neo4j/Application.kt
  cpg/build.gradle.kts
  settings.gradle.kts
Labels: python

#698 Python: Cleanup and fixes
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/passes/CallResolver.java
  cpg-core/src/testFixtures/java/de/fraunhofer/aisec/cpg/BaseTest.java
  cpg-language-python/src/main/python/CPGPython/__init__.py
  cpg-language-python/src/main/python/CPGPython/_code_extractor.py
  cpg-language-python/src/main/python/CPGPython/_expressions.py
  cpg-language-python/src/main/python/CPGPython/_misc.py
  cpg-language-python/src/main/python/CPGPython/_statements.py
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
  cpg-language-python/src/test/resources/python/issue615.py
  cpg-language-python/src/test/resources/python/vars.py
Labels: python

#696 Fixed several Go parsing problems
  cpg-core/src/main/golang/expressions.go
  cpg-core/src/main/golang/frontend/handler.go
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/graph/statements/expressions/InitializerListExpression.java
  cpg-core/src/test/java/de/fraunhofer/aisec/cpg/frontends/golang/GoLanguageFrontendTest.kt
  cpg-core/src/test/resources/golang/ref.go
Labels: go

#725 Add support for -isystem and -D
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/frontends/CompilationDatabase.kt
  cpg-core/src/main/java/de/fraunhofer/aisec/cpg/frontends/cpp/CXXLanguageFrontend.kt
  cpg-core/src/test/java/de/fraunhofer/aisec/cpg/frontends/cpp/CXXCompilationDatabaseTest.kt
  cpg-core/src/test/resources/cxxCompilationDatabase/compile_commands_arguments.json
  cpg-core/src/test/resources/cxxCompilationDatabase/compile_commands_commands.json
  cpg-core/src/test/resources/cxxCompilationDatabase/compile_commands_multi_tus.json
  cpg-core/src/test/resources/cxxCompilationDatabase/compile_commands_simple.json
  cpg-core/src/test/resources/cxxCompilationDatabase/includes_1/config.h
  cpg-core/src/test/resources/cxxCompilationDatabase/includes_1/header_1.h
  cpg-core/src/test/resources/cxxCompilationDatabase/includes_2/config.h
  cpg-core/src/test/resources/cxxCompilationDatabase/includes_2/header_2.h
  cpg-core/src/test/resources/cxxCompilationDatabase/main.c
  cpg-core/src/test/resources/cxxCompilationDatabase/main_simple.c
  cpg-core/src/test/resources/cxxCompilationDatabase/main_tu_1.c
  cpg-core/src/test/resources/cxxCompilationDatabase/main_tu_2.c
  cpg-core/src/test/resources/cxxCompilationDatabase/sys_includes/sys_header.h
  cpg-core/src/testFixtures/java/de/fraunhofer/aisec/cpg/TestUtils.kt
Labels: core
