Repository Fraunhofer-AISEC/cpg, pull requests merged in 2024-12, with the labels that each got.

#1864 Python: Handle `formattedValue`
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/ExpressionHandler.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/expressionHandler/FormattedValueHandlerTest.kt
  cpg-language-python/src/test/resources/python/datatypes.py
  cpg-language-python/src/test/resources/python/formatted_values.py
Labels: python

#1883 Fixed 'no code for' error for with and comprehensions
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/ExpressionHandler.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/StatementHandler.kt
Labels: python

#1897 Adding new Overlay and Concept nodes to the graph.
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Concept.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/Operation.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/collections/EdgeSingletonList.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/overlay/Overlay.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/persistence/TestCommon.kt
  cpg-neo4j/src/test/kotlin/de/fraunhofer/aisec/cpg_vis_neo4j/Neo4JTest.kt
Labels: core

#1907 Persisting literal values more conservativly
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/Literal.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/persistence/Common.kt
Labels: persistence

#1908 Providing an API to update the imported symbols for an `ImportDeclaration`
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ImportResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/TypeResolver.kt
Labels: core

#1909 Provide a function for languages to influence reference resolution out of candidates
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
Labels: core

#1913 Better support for language(s) in components and result
  cpg-console/src/main/kotlin/de/fraunhofer/aisec/cpg/console/Extensions.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TranslationResult.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TypeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Component.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Interfaces.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Name.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/NodeBuilder.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/OverlayNode.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/TypeBuilder.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/ValueDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/AssignExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/BinaryOperator.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/Expression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/AutoType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/BooleanType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/FloatingPointType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/FunctionPointerType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/FunctionType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/IncompleteType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/IntegerType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/NumericType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/ObjectType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/ParameterizedType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/StringType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/Type.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ControlFlowSensitiveDFGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/DFGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/EvaluationOrderGraphPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/DFGFunctionSummaries.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/inference/Inference.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/LanguageTest.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/CPPLanguage.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/CXXLanguageFrontend.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/DeclarationHandler.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/CXXExtraPass.kt
  cpg-language-cxx/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/types/TypeTests.kt
  cpg-language-go/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/GoExtraPass.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguageFrontendTest.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PythonAddDeclarationsPass.kt
Labels: core
