Repository Fraunhofer-AISEC/cpg, pull requests merged in 2025-03, with the labels that each got.

#2131 Maven publish with new plugin
  .github/workflows/build.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/codyze.module-conventions.gradle.kts
  buildSrc/src/main/kotlin/cpg.application-conventions.gradle.kts
  buildSrc/src/main/kotlin/cpg.common-conventions.gradle.kts
  buildSrc/src/main/kotlin/cpg.formatting-conventions.gradle.kts
  buildSrc/src/main/kotlin/cpg.frontend-conventions.gradle.kts
  buildSrc/src/main/kotlin/cpg.library-conventions.gradle.kts
  buildSrc/src/main/kotlin/cpg.publishing-conventions.gradle.kts
  codyze-compliance/build.gradle.kts
  codyze-core/build.gradle.kts
  codyze/build.gradle.kts
  cpg-analysis/build.gradle.kts
  cpg-concepts/build.gradle.kts
  cpg-console/build.gradle.kts
  cpg-core/build.gradle.kts
  cpg-language-cxx/build.gradle.kts
  cpg-language-go/build.gradle.kts
  cpg-language-go/src/main/resources/.gitignore
  cpg-language-ini/build.gradle.kts
  cpg-language-java/build.gradle.kts
  cpg-language-jvm/build.gradle.kts
  cpg-language-llvm/build.gradle.kts
  cpg-language-python/build.gradle.kts
  cpg-language-ruby/build.gradle.kts
  cpg-language-typescript/build.gradle.kts
  cpg-neo4j/build.gradle.kts
  gradle/libs.versions.toml
Labels: publish-to-github-packages

#2134 Python add location to tud
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonLanguageFrontend.kt
Labels: python

#2074 Follow through overlay
  codyze-core/src/main/kotlin/de/fraunhofer/aisec/codyze/Sarif.kt
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/query/FlowQueries.kt
  cpg-concepts/src/integrationTest/kotlin/de/fraunhofer/aisec/cpg/concepts/MemoryTest.kt
  cpg-concepts/src/integrationTest/resources/python/encrypt_with_key_fail.py
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/AnalysisConfiguration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extensions.kt
Labels: DFG

#2151 Concepts/Operations remove not needed duplicate check
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/concepts/file/python/PythonFileConceptPass.kt
Labels: concepts, publish-to-github-packages

#2192 Consistently displaying SARIF `level` and `kind` fields
  codyze-core/src/main/kotlin/de/fraunhofer/aisec/codyze/Sarif.kt
Labels: publish-to-github-packages
