Repository Fraunhofer-AISEC/cpg, pull requests merged in 2025-01, with the labels that each got.

#1862 Fixing Java field access
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
  cpg-core/src/testFixtures/kotlin/de/fraunhofer/aisec/cpg/test/TestUtils.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/ExpressionHandler.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaCallResolverHelper.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguage.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/java/JavaLanguageFrontend.kt
  cpg-language-java/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/JavaExtraPass.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/enhancements/calls/SuperCallTest.kt
  cpg-language-java/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/java/StaticImportsTest.kt
Labels: java

#1936 Added (mostly empty) skeleton for Codyze
  .github/CODEOWNERS
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/cpg.common-conventions.gradle.kts
  codyze-compliance/build.gradle.kts
  codyze-compliance/src/main/kotlin/de/fraunhofer/aisec/cpg/codyze/compliance/Command.kt
  codyze-compliance/src/main/kotlin/de/fraunhofer/aisec/cpg/codyze/compliance/SecurityGoal.kt
  codyze-compliance/src/test/kotlin/de/fraunhofer/aisec/cpg/codyze/compliance/CommandTest.kt
  codyze-compliance/src/test/kotlin/de/fraunhofer/aisec/cpg/codyze/compliance/SecurityGoalTest.kt
  codyze-compliance/src/test/resources/security-goals/goal1.yaml
  codyze/build.gradle.kts
  codyze/src/main/kotlin/de/fraunhofer/aisec/cpg/codyze/Application.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: codyze

#1942 Adds back test heap size
  buildSrc/src/main/kotlin/cpg.common-conventions.gradle.kts
Labels: core

#1941 Handling `ImportDeclaration` in EOG
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/EvaluationOrderGraphPass.kt
Labels: core

#1950 Faster type and symbol resolution
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/TranslationManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ResolveMemberExpressionAmbiguityPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/SymbolResolver.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/TypeResolver.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/scopes/ScopeManagerTest.kt
  cpg-language-cxx/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/cxx/DeclaratorHandler.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PythonAddDeclarationsPass.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/statementHandler/StatementHandlerTest.kt
Labels: core

#1954 Trying to publish to GH packages
  .github/workflows/build.yml
  README.md
  build.gradle.kts
  buildSrc/src/main/kotlin/cpg.common-conventions.gradle.kts
  codyze-compliance/build.gradle.kts
  jitpack.yml
Labels: publish-to-github-packages

#1947 Extending value evaluator in the python frontend
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/analysis/MultiValueEvaluator.kt
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/analysis/ValueEvaluator.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/NewArrayExpression.kt
  cpg-language-python/build.gradle.kts
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonLanguageFrontend.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonValueEvaluator.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/SystemInformation.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonValueEvaluatorTest.kt
  cpg-language-python/src/test/resources/python/consteval/arithmetic.py
  cpg-language-python/src/test/resources/python/consteval/platform.py
  cpg-language-python/src/test/resources/python/consteval/version_info.py
Labels: python, analysis

#1956 Concept and Operation nodes for disk encryption
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/BlockStorage.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/BlockStorageOperation.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/Cipher.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/CipherOperation.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/CreateEncryptedDisk.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/CreateSecret.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/DiskEncryption.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/DiskEncryptionOperation.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/GetSecret.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/IsDiskEncryption.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/Secret.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/SecretOperation.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/diskEncryption/UnlockEncryptedDisk.kt
Labels: publish-to-github-packages

#1945 Add Concept and Operation for HTTP APIs and their calls
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/http/HttpClient.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/http/HttpEndpoint.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/http/HttpRequest.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/http/HttpRequestHandler.kt
Labels: concepts

#1968 Updated deps to version v0.0.5 and added windows lib file (dll)
  cpg-language-go/build.gradle.kts
Labels: go

#1969 Extend concepts
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/query/Query.kt
  cpg-concepts/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/concepts/http/HttpRequest.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extensions.kt
Labels: publish-to-github-packages

#1973 Do not infer field declarations in static methods
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PythonAddDeclarationsPass.kt
Labels: python

#1972 Query: Use index stack dfg in the DFG query
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/query/Query.kt
Labels: publish-to-github-packages

#1988 Basic implementation of following context-sensitive calls in `followNextDFGUntilHit`
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extensions.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/DFGTest.kt
  cpg-language-python/src/test/resources/python/context_sensitive.py
Labels: core

#1984 Do not resolve unqualified symbols in current record without `HasImplicitReceiver`
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/LanguageTraits.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extensions.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/scopes/Scope.kt
  cpg-core/src/testFixtures/kotlin/de/fraunhofer/aisec/cpg/frontends/TestLanguage.kt
  cpg-core/src/testFixtures/kotlin/de/fraunhofer/aisec/cpg/test/TestUtils.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/StatementHandler.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PythonAddDeclarationsPass.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/SymbolResolverTest.kt
  cpg-language-python/src/test/resources/python/fields.py
Labels: go, python

#1987 `ResolveMemberExpressionAmbiguityPass` now correctly set an FQN in its replaced references
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ResolveMemberExpressionAmbiguityPass.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
Labels: python, core
