Repository Fraunhofer-AISEC/cpg, pull requests merged in 2025-02, with the labels that each got.

#2032 Python `VersionInfo` extension
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonLanguageFrontend.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/SystemInformation.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/SystemInformationTest.kt
Labels: python

#2039 Python: disable parallel support
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonLanguageFrontend.kt
Labels: python

#2019 Create a `LocalScope` for `CollectionComprehensions` and generate a `Declaration`
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/ScopeManager.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Node.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/TypeBuilder.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/helpers/ExtensionsTest.kt
  cpg-core/src/testFixtures/kotlin/de/fraunhofer/aisec/cpg/test/TestUtils.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/ExpressionHandler.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/PythonAddDeclarationsPass.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/CollectionComprehensionTest.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/ExpressionHandlerTest.kt
  cpg-language-python/src/test/resources/python/comprehension.py
Labels: blocked, python

#2016 Handle `InitializerListExpression`s as variables of `ComprehensionExpression`s in the DFG
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Interfaces.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/ForEachStatement.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/AssignExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/CastExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/ComprehensionExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/Expression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/InitializerListExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/Reference.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/SubscriptExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/UnaryOperator.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/HasType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ControlFlowSensitiveDFGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/DFGPass.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/CollectionComprehensionTest.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/ExpressionHandlerTest.kt
  cpg-language-python/src/test/resources/python/comprehension.py
Labels: DFG

#2025 New sketch of API for dataflow queries
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/query/FlowQueries.kt
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/query/Query.kt
  cpg-analysis/src/main/kotlin/de/fraunhofer/aisec/cpg/query/README.md
  cpg-analysis/src/test/kotlin/de/fraunhofer/aisec/cpg/query/DataflowQueriesTest.kt
  cpg-analysis/src/test/kotlin/de/fraunhofer/aisec/cpg/query/ExecutionOrderQueriesTest.kt
  cpg-analysis/src/test/kotlin/de/fraunhofer/aisec/cpg/query/QueryTest.kt
  cpg-analysis/src/test/kotlin/de/fraunhofer/aisec/cpg/testcases/FlowQueriesTest.kt
  cpg-concepts/src/integrationTest/kotlin/de/fraunhofer/aisec/cpg/concepts/MemoryTest.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/AnalysisConfiguration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/Extensions.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/flows/Dataflow.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/graph/ShortcutsTest.kt
  cpg-language-go/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/GoEvaluationOrderGraphPass.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/DFGTest.kt
  docs/docs/GettingStarted/query.md
Labels: analysis, DFG

#2046 Change kwargs to isVariadic and add HasDefaultArguments to PythonLanguage
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/Util.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/helpers/util/AttachCallParametersTest.kt
  cpg-core/src/test/kotlin/de/fraunhofer/aisec/cpg/passes/scopes/ScopeManagerTest.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/DeclarationHandler.kt
  cpg-language-python/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonLanguage.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/statementHandler/ArgumentsHandlerTest.kt
  cpg-language-python/src/test/resources/python/arguments.py
Labels: publish-to-github-packages

#2083 Fixed bug in `translationUnitForInference`
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/frontends/Language.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/helpers/SubgraphWalker.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/PythonFrontendTest.kt
  cpg-language-python/src/test/resources/python/nested_replace.py
Labels: bug

#2084 Indexed (and inverted) subscript expression in dfg
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/declarations/VariableDeclaration.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/edges/flows/Dataflow.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/BinaryOperator.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/CastExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/LambdaExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/MemberExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/SubscriptExpression.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/statements/expressions/UnaryOperator.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/graph/types/HasType.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/ControlFlowSensitiveDFGPass.kt
  cpg-core/src/main/kotlin/de/fraunhofer/aisec/cpg/passes/DFGPass.kt
  cpg-language-python/src/test/kotlin/de/fraunhofer/aisec/cpg/frontends/python/DFGTest.kt
  cpg-language-python/src/test/resources/python/array_dfg.py
  cpg-language-python/src/test/resources/python/datatypes.py
  cpg-language-python/src/test/resources/python/dict_dfg.py
  cpg-language-python/src/test/resources/python/member_dfg.py
Labels: DFG
